<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-airplay-menu"
        version="1.0.0">
    <name>AirPlayMenu</name>
    <js-module src="www/airplayMenu.js" name="AirPlayMenu">
        <clobbers target="AirPlayMenu" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AirPlayMenu">
                <param name="ios-package" value="AirPlayMenu" />
            </feature>
        </config-file>
        <source-file src="src/ios/AirPlayMenu.m" />
    </platform>
</plugin>
